__pycache__/chat_model.cpython-312.pyc
*.pyc
*.json
*.session
*.session-journal
*.wav
*.json
*.json
/MitaAiC\#/.vs
/MitaAiC\#/MitaAI/obj/Debug
/MitaAiC\#/MitaAI/obj
/MitaAiC\#/.vs
/MitaAiC\#/MitaAI/bin/Debug
/MitaAiC\#/.vs
/build
/dist
NeuroMita.spec
*.mp3
*.oga
/memory
